ProxyLibrary/Connected Services/SOAPLibrary/ServiceLibrary.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServiceLibrary" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50030/ServiceLibrary.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50030/ServiceLibrary.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50030/ServiceLibrary.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SOAPService.Library" />
      <xsd:import schemaLocation="http://localhost:50030/ServiceLibrary.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BusinessLogic.Library.ViewModels" />
      <xsd:import schemaLocation="http://localhost:50030/ServiceLibrary.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Model.Library" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceLibrary_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IServiceLibrary_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceLibrary_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IServiceLibrary_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceLibrary_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IServiceLibrary_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceLibrary_AddBook_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBook" />
  </wsdl:message>
  <wsdl:message name="IServiceLibrary_AddBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBookResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceLibrary_SearchBook_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchBook" />
  </wsdl:message>
  <wsdl:message name="IServiceLibrary_SearchBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchBookResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceLibrary_SearchBookWithAvailabilityInfos_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchBookWithAvailabilityInfos" />
  </wsdl:message>
  <wsdl:message name="IServiceLibrary_SearchBookWithAvailabilityInfos_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchBookWithAvailabilityInfosResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceLibrary_UpdateBook_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBook" />
  </wsdl:message>
  <wsdl:message name="IServiceLibrary_UpdateBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBookResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceLibrary_DeleteBook_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBook" />
  </wsdl:message>
  <wsdl:message name="IServiceLibrary_DeleteBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBookResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceLibrary_ReserveBookPROVA_InputMessage">
    <wsdl:part name="parameters" element="tns:ReserveBookPROVA" />
  </wsdl:message>
  <wsdl:message name="IServiceLibrary_ReserveBookPROVA_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReserveBookPROVAResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceLibrary_ReserveBook_InputMessage">
    <wsdl:part name="parameters" element="tns:ReserveBook" />
  </wsdl:message>
  <wsdl:message name="IServiceLibrary_ReserveBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReserveBookResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceLibrary_BookReturn_InputMessage">
    <wsdl:part name="parameters" element="tns:BookReturn" />
  </wsdl:message>
  <wsdl:message name="IServiceLibrary_BookReturn_OutputMessage">
    <wsdl:part name="parameters" element="tns:BookReturnResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceLibrary_GetReservationHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReservationHistory" />
  </wsdl:message>
  <wsdl:message name="IServiceLibrary_GetReservationHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReservationHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceLibrary_MapperBVMtoBOOK_InputMessage">
    <wsdl:part name="parameters" element="tns:MapperBVMtoBOOK" />
  </wsdl:message>
  <wsdl:message name="IServiceLibrary_MapperBVMtoBOOK_OutputMessage">
    <wsdl:part name="parameters" element="tns:MapperBVMtoBOOKResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceLibrary_MapperModifyingBVMtoBOOK_InputMessage">
    <wsdl:part name="parameters" element="tns:MapperModifyingBVMtoBOOK" />
  </wsdl:message>
  <wsdl:message name="IServiceLibrary_MapperModifyingBVMtoBOOK_OutputMessage">
    <wsdl:part name="parameters" element="tns:MapperModifyingBVMtoBOOKResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceLibrary_MapperABVMtoBOOK_InputMessage">
    <wsdl:part name="parameters" element="tns:MapperABVMtoBOOK" />
  </wsdl:message>
  <wsdl:message name="IServiceLibrary_MapperABVMtoBOOK_OutputMessage">
    <wsdl:part name="parameters" element="tns:MapperABVMtoBOOKResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceLibrary_MapperReservingBVMtoBOOK_InputMessage">
    <wsdl:part name="parameters" element="tns:MapperReservingBVMtoBOOK" />
  </wsdl:message>
  <wsdl:message name="IServiceLibrary_MapperReservingBVMtoBOOK_OutputMessage">
    <wsdl:part name="parameters" element="tns:MapperReservingBVMtoBOOKResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceLibrary_MapperReturningBVMtoBOOK_InputMessage">
    <wsdl:part name="parameters" element="tns:MapperReturningBVMtoBOOK" />
  </wsdl:message>
  <wsdl:message name="IServiceLibrary_MapperReturningBVMtoBOOK_OutputMessage">
    <wsdl:part name="parameters" element="tns:MapperReturningBVMtoBOOKResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceLibrary_MapperUsernameVMtoUserList_InputMessage">
    <wsdl:part name="parameters" element="tns:MapperUsernameVMtoUserList" />
  </wsdl:message>
  <wsdl:message name="IServiceLibrary_MapperUsernameVMtoUserList_OutputMessage">
    <wsdl:part name="parameters" element="tns:MapperUsernameVMtoUserListResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceLibrary_MapperBVMtoBOOKforGetReservationsHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:MapperBVMtoBOOKforGetReservationsHistory" />
  </wsdl:message>
  <wsdl:message name="IServiceLibrary_MapperBVMtoBOOKforGetReservationsHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:MapperBVMtoBOOKforGetReservationsHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceLibrary_ReadBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadBooks" />
  </wsdl:message>
  <wsdl:message name="IServiceLibrary_ReadBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadBooksResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceLibrary">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLibrary/GetData" message="tns:IServiceLibrary_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLibrary/GetDataResponse" message="tns:IServiceLibrary_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLibrary/GetDataUsingDataContract" message="tns:IServiceLibrary_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLibrary/GetDataUsingDataContractResponse" message="tns:IServiceLibrary_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLibrary/Login" message="tns:IServiceLibrary_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLibrary/LoginResponse" message="tns:IServiceLibrary_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLibrary/AddBook" message="tns:IServiceLibrary_AddBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLibrary/AddBookResponse" message="tns:IServiceLibrary_AddBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLibrary/SearchBook" message="tns:IServiceLibrary_SearchBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLibrary/SearchBookResponse" message="tns:IServiceLibrary_SearchBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchBookWithAvailabilityInfos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLibrary/SearchBookWithAvailabilityInfos" message="tns:IServiceLibrary_SearchBookWithAvailabilityInfos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLibrary/SearchBookWithAvailabilityInfosResponse" message="tns:IServiceLibrary_SearchBookWithAvailabilityInfos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLibrary/UpdateBook" message="tns:IServiceLibrary_UpdateBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLibrary/UpdateBookResponse" message="tns:IServiceLibrary_UpdateBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLibrary/DeleteBook" message="tns:IServiceLibrary_DeleteBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLibrary/DeleteBookResponse" message="tns:IServiceLibrary_DeleteBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReserveBookPROVA">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLibrary/ReserveBookPROVA" message="tns:IServiceLibrary_ReserveBookPROVA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLibrary/ReserveBookPROVAResponse" message="tns:IServiceLibrary_ReserveBookPROVA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReserveBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLibrary/ReserveBook" message="tns:IServiceLibrary_ReserveBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLibrary/ReserveBookResponse" message="tns:IServiceLibrary_ReserveBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BookReturn">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLibrary/BookReturn" message="tns:IServiceLibrary_BookReturn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLibrary/BookReturnResponse" message="tns:IServiceLibrary_BookReturn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReservationHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLibrary/GetReservationHistory" message="tns:IServiceLibrary_GetReservationHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLibrary/GetReservationHistoryResponse" message="tns:IServiceLibrary_GetReservationHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MapperBVMtoBOOK">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLibrary/MapperBVMtoBOOK" message="tns:IServiceLibrary_MapperBVMtoBOOK_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLibrary/MapperBVMtoBOOKResponse" message="tns:IServiceLibrary_MapperBVMtoBOOK_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MapperModifyingBVMtoBOOK">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLibrary/MapperModifyingBVMtoBOOK" message="tns:IServiceLibrary_MapperModifyingBVMtoBOOK_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLibrary/MapperModifyingBVMtoBOOKResponse" message="tns:IServiceLibrary_MapperModifyingBVMtoBOOK_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MapperABVMtoBOOK">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLibrary/MapperABVMtoBOOK" message="tns:IServiceLibrary_MapperABVMtoBOOK_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLibrary/MapperABVMtoBOOKResponse" message="tns:IServiceLibrary_MapperABVMtoBOOK_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MapperReservingBVMtoBOOK">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLibrary/MapperReservingBVMtoBOOK" message="tns:IServiceLibrary_MapperReservingBVMtoBOOK_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLibrary/MapperReservingBVMtoBOOKResponse" message="tns:IServiceLibrary_MapperReservingBVMtoBOOK_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MapperReturningBVMtoBOOK">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLibrary/MapperReturningBVMtoBOOK" message="tns:IServiceLibrary_MapperReturningBVMtoBOOK_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLibrary/MapperReturningBVMtoBOOKResponse" message="tns:IServiceLibrary_MapperReturningBVMtoBOOK_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MapperUsernameVMtoUserList">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLibrary/MapperUsernameVMtoUserList" message="tns:IServiceLibrary_MapperUsernameVMtoUserList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLibrary/MapperUsernameVMtoUserListResponse" message="tns:IServiceLibrary_MapperUsernameVMtoUserList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MapperBVMtoBOOKforGetReservationsHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLibrary/MapperBVMtoBOOKforGetReservationsHistory" message="tns:IServiceLibrary_MapperBVMtoBOOKforGetReservationsHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLibrary/MapperBVMtoBOOKforGetReservationsHistoryResponse" message="tns:IServiceLibrary_MapperBVMtoBOOKforGetReservationsHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLibrary/ReadBooks" message="tns:IServiceLibrary_ReadBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLibrary/ReadBooksResponse" message="tns:IServiceLibrary_ReadBooks_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceLibrary" type="tns:IServiceLibrary">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IServiceLibrary/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IServiceLibrary/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IServiceLibrary/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBook">
      <soap:operation soapAction="http://tempuri.org/IServiceLibrary/AddBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchBook">
      <soap:operation soapAction="http://tempuri.org/IServiceLibrary/SearchBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchBookWithAvailabilityInfos">
      <soap:operation soapAction="http://tempuri.org/IServiceLibrary/SearchBookWithAvailabilityInfos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBook">
      <soap:operation soapAction="http://tempuri.org/IServiceLibrary/UpdateBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBook">
      <soap:operation soapAction="http://tempuri.org/IServiceLibrary/DeleteBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReserveBookPROVA">
      <soap:operation soapAction="http://tempuri.org/IServiceLibrary/ReserveBookPROVA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReserveBook">
      <soap:operation soapAction="http://tempuri.org/IServiceLibrary/ReserveBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookReturn">
      <soap:operation soapAction="http://tempuri.org/IServiceLibrary/BookReturn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReservationHistory">
      <soap:operation soapAction="http://tempuri.org/IServiceLibrary/GetReservationHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MapperBVMtoBOOK">
      <soap:operation soapAction="http://tempuri.org/IServiceLibrary/MapperBVMtoBOOK" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MapperModifyingBVMtoBOOK">
      <soap:operation soapAction="http://tempuri.org/IServiceLibrary/MapperModifyingBVMtoBOOK" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MapperABVMtoBOOK">
      <soap:operation soapAction="http://tempuri.org/IServiceLibrary/MapperABVMtoBOOK" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MapperReservingBVMtoBOOK">
      <soap:operation soapAction="http://tempuri.org/IServiceLibrary/MapperReservingBVMtoBOOK" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MapperReturningBVMtoBOOK">
      <soap:operation soapAction="http://tempuri.org/IServiceLibrary/MapperReturningBVMtoBOOK" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MapperUsernameVMtoUserList">
      <soap:operation soapAction="http://tempuri.org/IServiceLibrary/MapperUsernameVMtoUserList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MapperBVMtoBOOKforGetReservationsHistory">
      <soap:operation soapAction="http://tempuri.org/IServiceLibrary/MapperBVMtoBOOKforGetReservationsHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadBooks">
      <soap:operation soapAction="http://tempuri.org/IServiceLibrary/ReadBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceLibrary">
    <wsdl:port name="BasicHttpBinding_IServiceLibrary" binding="tns:BasicHttpBinding_IServiceLibrary">
      <soap:address location="http://localhost:50030/ServiceLibrary.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>