ProxyLibrary/Connected Services/SOAPLibrary/ServiceLibrary6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BusinessLogic.Library" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusinessLogic.Library" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BookViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AuthorSurname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Avaiability" type="xs:boolean" />
      <xs:element minOccurs="0" name="BookId" type="xs:int" />
      <xs:element minOccurs="0" name="PublishingHouse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookViewModel" nillable="true" type="tns:BookViewModel" />
</xs:schema>